* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --bg-color-page: #e8e8e8;
  --bg-color-header: #04080e;
  --bg-color-header1: #22518b;
  --box-shadow: rgba(0, 0, 0, 0.2);
  --gray-font: #e8e8e8;
  --gb-card: #ffff;
  --boder-radiu: #d9d9d9;
  --color-price: #013672;
  --color-font-product: #636363;
  --btm-color: #3483fa;
  --color-font-btm: #ffff;
  --bg-color-active: rgb(38, 190, 38);
  --color-type-product: #636363;
  --color-description: #636363;
}

html,
body {
  background-color: var(--bg-color-page);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(
    to right,
    var(--bg-color-header),
    var(--bg-color-header1)
  );
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px var(--box-shadow);

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & nav a {
    text-decoration: none;
    color: var(--gray-font);
    text-transform: uppercase;
    font-weight: 400;
  }

  & img {
    width: 90px;
    margin-top: 15px;
  }
}

#product-details {
  padding: 20px 0;

  & img {
    width: 13rem;
  }
}

.card {
  background-color: var(--gb-card);
  border-radius: 4px;
  border: 1px solid var(--boder-radiu);
  box-shadow: 2px 2px 2px 1px var(--box-shadow);

  & .card-bottom {
    padding: 10px 20px 20px 20px;

    & h2 {
      color: var(--color-price);
      font-size: 20px;
    }

    & h3 {
      color: var(--color-description);
      font-size: 12px;
    }

    & p {
      font-size: 12px;
      color: var(--color-description);
      margin: 10px 0;
    }
  }

  & .card-top {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}

.line-bottom {
  border-bottom: 1.5px solid var(--boder-radiu);
}
.category-container {
  display: flex;

  & .category {
    padding: 0 20px;
    margin-right: 20px;
    background-color: var(--color-type-product);
    border-radius: 4px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-font-btm);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.buttom {
  width: 220px;
  display: grid;
  grid-row-gap: 1em;

  & .btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:first-child {
      background-color: var(--btm-color);
      color: var(--color-font-btm);
      text-decoration: none;

      &:hover {
        background-color: var(--gb-card);
        color: var(--btm-color);
        border: 1px solid var(--btm-color);
      }
      &:active {
        background-color: var(--bg-color-active);
        color: var(--color-font-btm);
        border-radius: 1px solid var(--boder-radiu);
        border-radius: 4px;
      }
    }

    &:last-child {
      background-color: var(--color-font-btm);
      color: var(--btm-color);
      border: 1px solid var(--btm-color);

      &:hover {
        background-color: var(--btm-color);
        color: var(--color-font-btm);
      }
      &:active {
        background-color: var(--bg-color-active);
        color: var(--color-font-btm);
        border-radius: 1px solid var(--boder-radiu);
        border-radius: 4px;
      }
    }
  }
}
